.saved-planets-container {
    max-width: 1000px;
    margin: 120px auto 40px auto; 
    padding: 20px;
    color: white;
}

.saved-header h2 {
    font-size: 32px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 35px;
}




.empty-msg {
    text-align: center;
    margin-top: 40px;
    font-size: 20px;
    color: #bbb;
}

body {
    background: url("/static/images/bgspace3.jpg") no-repeat center center fixed;
    background-size: cover;
    background-color: black;
}


.pagination-container {
    margin-top: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

.page-btn,
.page-number {
    padding: 10px 18px;
    border-radius: 10px;
    background: rgba(255,255,255,0.08);
    border: 1px solid rgba(255,255,255,0.25);
    color: white;
    text-decoration: none;
    font-size: 14px;
    transition: 0.3s ease;
}

.page-btn:hover {
    background: rgba(255,255,255,0.20);
}

.page-btn.disabled {
    opacity: 0.4;
    pointer-events: none;
}




/* responcive */
@media (max-width: 1100px) {
    .planets-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .planets-grid {
        grid-template-columns: 1fr;
    }

    .saved-header h2 {
        font-size: 22px;
    }
}
