<div class="mini-post-card"
     data-url="{% url 'posts:post_detail' post.id %}"
     onclick="window.location.href=this.dataset.url">

    <div class="thumb-area">
        {% if post.media_file %}
            <img src="{{ post.media_file.url }}" class="mini-post-thumb">
        {% endif %}
    </div>

    <div class="post-info">
        <span class="mini-date">{{ post.created_at|date:"M d, Y" }}</span>

        <h3 class="mini-title">{{ post.title }}</h3>

        <div class="mini-post-stats">
            <div class="stat-item">
                <i class="material-icons">favorite</i>
                <span>{{ post.like_count }}</span>
            </div>

            <div class="stat-item">
                <i class="material-icons">chat_bubble</i>
                <span>{{ post.comment_count }}</span>
            </div>
        </div>
    </div>
</div>
