{% extends "main/base.html" %}
{% load static %}

{% block title %} {{ page_title }} — {{ profile_user.username }} {% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/user_posts.css' %}">
{% endblock extra_css %}

{% block content %}

<div class="posts-view-page"> 

    <h2 class="section-title">{{ page_title }}</h2>
    <p class="section-subtitle">
        {% if page_title == "All Posts" %}
            All posts created by @{{ profile_user.username }}
        {% elif page_title == "Liked Posts" %}
            Posts liked by @{{ profile_user.username }}
        {% elif page_title == "Bookmarked Posts" %}
            Posts bookmarked by @{{ profile_user.username }}
        {% elif page_title == "Commented Posts" %}
            Posts commented on by @{{ profile_user.username }}
        {% endif %}
    </p>


    {% if posts %}
        <div class="posts-wrapper">

            {% for post in posts %}
                {% include "accounts/post_card.html" with post=post %}
            {% endfor %}

        </div>
    {% else %}
        <p class="posts-placeholder">No posts to display.</p>
    {% endif %}


</div>

{% endblock content %}
